<form *ngIf="!formSubmitted" (ngSubmit)="onSubmit(userForm.form.value)" #userForm="ngForm">
	<div class="form-group">
		<div [ngClass]="{'has-success':id.valid}">
		    <input placeholder="User ID" type="text" class="form-control" [(ngModel)]="user.id" ngControl="id" #id="ngForm" readonly required>
		</div>
		<div [ngClass]="{'has-success':username.valid}">
		    <input placeholder="Username" type="text" class="form-control" [(ngModel)]="user.username" ngControl="username" #username="ngForm" required>
		</div>
		<div [ngClass]="{'has-success':password.valid}">
		    <input placeholder="Password" type="password" class="form-control" [(ngModel)]="user.password" ngControl="password" #password="ngForm" required>
		</div>
		<div [ngClass]="{'has-success':role.valid}">
			<select class="form-control" [(ngModel)]="user.role" ngControl="role" #role="ngForm" required>
				<option value="user">User</option>
				<option value="admin">Admin</option>
			</select>
		</div>
	</div>

	<button type="submit" class="btn" [ngClass]="{'btn-primary':userForm.form.valid}" [disabled]="!userForm.form.valid">Submit</button>
</form>
<h3 [hidden]="!formSubmitted">User added successfully! <a [routerLink]="['Upload']">Back</a></h3>