<table class="table table-bordered table-hover">
	<thead class="thead-default">
		<tr>
			<th>
				<a href="javascript:false" (click)="changeSort()">{{catname | initCase}}</a> 
				<i *ngIf="defaultSort>=0">&#9660;</i><i *ngIf="defaultSort<0">&#9650;</i>
			</th>
			<th>
				<a href="javascript:false" (click)="changeSortDLS()">Downloads</a> 
				<i *ngIf="defaultSortDLS>=0">&#9660;</i><i *ngIf="defaultSortDLS<0">&#9650;</i>
			</th>
		</tr>
	</thead>

	<tbody *ngIf="!files">
		<tr>
			<td colspan="2"><img src="images/loading.gif" alt="Loading" /> Loading...</td>
		</tr>
	</tbody>

	<tbody *ngIf="files && files.length<1">
		<tr>
			<td colspan="2">This category is empty.</td>
		</tr>
	</tbody>

	<tbody *ngIf="files">
		<tr *ngFor="#file of files | sortByName:defaultSort | sortByDLS:defaultSortDLS">
			<td><a [routerLink]="['File', {catname: file.cat, fileid: file.id, filename: file.name | trimLowerCase}]">{{file.name}}</a></td>
			<td>{{file.dls | number}}</td>
		</tr>
	</tbody>

</table>