
<form (ngSubmit)="loadData(fileid)">
	<input type="number" placeholder="File ID" [(ngModel)]="fileid" required>
	<button type="submit" class="btn btn-primary">Load</button>
</form>

<form *ngIf="!formSubmitted && loaded" (ngSubmit)="onSubmit(fileForm)" #fileForm="ngForm">
	<div class="form-group">
		<div [ngClass]="{'has-success':name.valid}">
		    <input placeholder="Name" type="text" class="form-control" [value]="file?.name" ngControl="name" #name="ngForm" required>
		</div>
		<div [ngClass]="{'has-success':author.valid}">
		    <input placeholder="Author" type="text" class="form-control" [value]="file?.author" ngControl="author" #author="ngForm" required>
		</div>
		<div [ngClass]="{'has-success':cat.valid}">
			<select class="form-control" [value]="file?.cat" ngControl="cat" #cat="ngForm" required>
				<option value="vehicles">Vehicles</option>
				<option value="architecture">Architecture</option>
			</select>
		</div>
	</div>

	<button type="submit" class="btn btn-primary">Submit</button>
</form>

<h3 [hidden]="!formSubmitted">File edited successfully! <a [routerLink]="['Upload']">Back</a></h3>