body {
    margin: 20px auto 20px auto;
    max-width: 992px;
}

.navbar {
    margin-bottom: 20px;
}

.col-centered {
    float: none;
    margin: 0 auto;
}

.text-center {
    text-align: center;
}

th.fileTitle {
    font-size: 24px;
    font-weight: bold;
}

ul {
    list-style: none;
    margin-left: -30px;
}

img.fileMainScreen {
    border-radius: 5px;
}

img.fileThumbImg {
    margin: 5px;
    width: 20%;
    cursor: pointer;
    opacity: 0.8;
    transition: box-shadow 250ms;
    border-radius: 4px;
}
img.fileThumbImg:hover {
    box-shadow: 0 0 7px #000;
}
img.isSelected {
    opacity: 1.0;
}

div.fileThumbImgs {
    text-align: center;
}
