body {
    margin: 20px auto 20px auto;
    max-width: 992px;
}

.navbar {
    padding: 0.6rem 1rem;
}

.col-centered {
    float: none;
    margin: 0 auto;
}

.text-center {
    text-align: center;
}

th.fileTitle {
    font-size: 24px;
    font-weight: bold;
}

.table td {
    vertical-align: middle;
}

/*ul {
    list-style: none;
    margin: 0px 0px 0px -40px;
}*/

div.buttonPlusMinus {
    padding: 0;
    width: 100px;
}

div.imgurlInput {
    margin-bottom: 10px;
}

input.imgurlEdit {
    display: inline;
    width: 75%;
}

div.thumbImg {
    height: 250px;
    background-size: cover;
    background-position: 50% 50%;
    opacity: 0.92;
}

div.thumbImg:hover {
    opacity: 1.0;
}

div.infoBg {
    background-color: rgba(0,0,0,0.5);
    position: absolute;
    left: 0;
    width: 100%;
    text-align: center;
    bottom: 0;
    text-shadow: 0px 0px 3px #000;
}

a.linkInfo {
    color: #eee;
}

ul {
    list-style: none;
}

ul.authorList {
    margin: 0;
    padding: 0;
}
ul.authorList li {
    display: inline;
}

img.fileMainScreen {
    border-radius: 5px;
}

img.fileThumbImg {
    margin: 5px;
    width: 20%;
    cursor: pointer;
    opacity: 0.9;
    transition: box-shadow 250ms;
    border-radius: 4px;
}
img.fileThumbImg:hover {
    opacity: 1.0;
    box-shadow: 0 0 7px #000;
}
img.isSelected {
    opacity: 1.0;
    box-shadow: 0 0 7px #000;
}

div.fileThumbImgs {
    text-align: center;
}
