<div class="card text-xs-center">
	<div class="card-header">
		Add file
	</div>
	<div class="card-block">

	<div class="col-md-6 col-centered">

		<form (ngSubmit)="onSubmit(fileForm.form.value)" #fileForm="ngForm">

			<div class="input-group" [ngClass]="{'has-success':name.valid}">
				<span class="input-group-addon"><i class="fa fa-file"></i></span>
					<input type="text" class="form-control" placeholder="Name" ngControl="name" #name="ngForm" required>
			</div>
			<br />

			<div class="input-group" [ngClass]="{'has-success':author.valid}">
				<span class="input-group-addon"><i class="fa fa-user"></i></span>
					<input type="text" class="form-control" placeholder="Author" ngControl="author" #author="ngForm" required>
			</div>
			<br />

			<div class="input-group" [ngClass]="{'has-success':cat.valid}">
				<span class="input-group-addon" id="basic-addon1"><i class="fa fa-list"></i></span>
					<select class="form-control" ngControl="cat" #cat="ngForm" required>
						<option value="" disabled>Select the category</option>
						<option *ngFor="#cat of cats" [value]="cat.name">{{cat.name}}</option>
					</select>
			</div>
			<br />

			<button type="submit" class="btn" [ngClass]="{'btn-primary':fileForm.form.valid}" [disabled]="!fileForm.form.valid">Submit</button>
			<button type="reset" class="btn btn-warning">Reset</button>

		</form>

		<br />

	</div>

	<div [hidden]="!formSubmitted" class="alert alert-success" role="alert">
		<i class="fa fa-check-circle"></i> File added successfully!
	</div>

</div>
