<table class="table table-bordered table-hover">
	<thead class="thead-default">
		<tr>
			<th>
				<a href="javascript:false" (click)="changeSort()">Category</a> 
				<i *ngIf="defaultSort>=0" class="fa fa-sort-alpha-asc"></i>
				<i *ngIf="defaultSort<0" class="fa fa-sort-alpha-desc"></i>
			</th>
			<th>
				Files
			</th>
		</tr>
	</thead>

	<tbody *ngIf="!cats">
		<tr>
			<td colspan="2"><i class="fa fa-spinner fa-spin"></i> Loading...</td>
		</tr>
	</tbody>

	<tbody *ngIf="cats">
		<tr *ngFor="#cat of cats | sortByName:defaultSort">
			<td><a [routerLink]="['Category', {catname: cat.name}]">{{cat.name | initCase}}</a></td>
			<td>...</td>
		</tr>
	</tbody>
</table>