<a [routerLink]="['Categories']">&#x21D0; Back</a><br /><br />

<div class="input-group">
	<span class="input-group-addon search-input" id="basic-addon1"><i class="fa fa-search"></i></span>
	<input [(ngModel)]="query" type="text" class="form-control" placeholder="Search (2+ characters)">
</div>

<br />

<table class="table table-bordered table-hover table-sm">
	<thead class="thead-default">
		<tr>
			<th>
				<a href="javascript:false" (click)="changeSort()">File name</a> 
				<i *ngIf="sortByName>=0" class="fa fa-sort-alpha-asc"></i>
				<i *ngIf="sortByName<0" class="fa fa-sort-alpha-desc"></i>
			</th>
			<th>
				<a href="javascript:false" (click)="changeSortDLS()">Downloads</a> 
				<i *ngIf="sortByDLS>=0" class="fa fa-sort-numeric-asc"></i>
				<i *ngIf="sortByDLS<0" class="fa fa-sort-numeric-desc"></i>
			</th>
		</tr>
	</thead>

	<tbody *ngIf="!files">
		<tr>
			<td colspan="2"><i class="fa fa-spinner fa-spin"></i> Loading...</td>
		</tr>
	</tbody>

	<tbody *ngIf="files && files.length<1">
		<tr>
			<td colspan="2">This category is empty.</td>
		</tr>
	</tbody>

	<tbody *ngIf="files">
		<tr *ngFor="#file of files | filter:query | sortByName:sortByName | sortByDLS:sortByDLS #i=index;">
			<td *ngIf="i>=skip && i<(skip+filesPerPage)">
				<a [routerLink]="['File', {catname: file.cat, fileid: file.id, filename: file.name | trimLowerCase}]">{{file.name}}</a>
			</td>
			<td *ngIf="i>=skip && i<(skip+filesPerPage)">{{file.dls | number}}</td>
		</tr>
		<tr>
			<td *ngIf="query.length<2" colspan="2" class="text-center">
				<button type="button" class="btn btn-primary" (click)="prevPage()" [disabled]="noMorePrev">Prev</button>
				<button type="button" class="btn btn-primary" (click)="nextPage()" [disabled]="noMoreNext">Next</button>
				Showing {{skip+1}}-{{(skip+1+filesPerPage)>totFiles ? totFiles : skip+filesPerPage}} of {{totFiles}}
			</td>
		</tr>
	</tbody>
</table>