<a [routerLink]="['Category', {catname: catname}]">&#x21D0; Back</a>
<table *ngIf="!isEditing" class="table table-bordered table-striped">
	<thead class="thead-default">
		<tr>
			<th colspan="2" class="text-center fileTitle">{{file.name}} <button type="button" class="pull-right btn btn-primary" (click)="editFile()">Edit file</button></th>
		</tr>
	</thead>

	<tbody *ngIf="!file.id">
		<tr>
			<td colspan="2"><i class="fa fa-spinner fa-spin"></i> Loading...</td>
		</tr>
	</tbody>

	<tbody *ngIf="file.id">
		<tr>
			<td class="text-center" colspan="2">
				<img class="center-block fileMainScreen" [src]="mainScreen" alt="{{file.name}} screenshot" />
			</td>
		</tr>
		<tr>
			<td *ngIf="file.imgurl?.length>1" colspan="2">
				<div class="fileThumbImgs">
					<img class="fileThumbImg" [class.isSelected]="image==mainScreen" *ngFor="#image of file.imgurl" [src]="image" (click)="setMainScreen(image)" alt="{{file.name}} screenshot" />
				</div>
			</td>
		</tr>
		<tr>
			<td>Author:</td><td>{{file.author}}</td>
		</tr>
		<tr>
			<td>Downloads:</td><td>{{file.dls | number}}</td>
		</tr>
		<tr>
			<td>URL:</td><td><a target="_blank" href="{{file.url}}">{{file.url}}</a></td>
		</tr>
	</tbody>
</table>


<form *ngIf="isEditing" (ngSubmit)="isEditingDone(file)" #fileFormEdit="ngForm">
	<table class="table table-bordered table-striped">
		<thead class="thead-default">
			<tr>
				<th colspan="2">
					<button type="button" class="pull-right btn btn-warning" (click)="isEditingCancel()">Cancel</button>
					<button type="submit" class="pull-right btn" [ngClass]="{'btn-primary':fileFormEdit.form.valid}" [disabled]="!fileFormEdit.form.valid" style="margin-right:7px">Save</button>
					<br /><br />
					<div [ngClass]="{'has-success':name.valid}">
						<input class="form-control" type="text" [(ngModel)]="file.name" ngControl="name" #name="ngForm" required />
					</div>
				</th>
			</tr>
		</thead>

		<tbody>
			<tr>
				<td colspan="2">
					<span *ngFor="#image of file.imgurl">
						<img class="fileThumbImg" [src]="image" alt="{{file.name}} screenshot" />
					</span>
				</td>
			</tr>
			<tr>
				<td>Category:</td>
				<td>
					<div [ngClass]="{'has-success':cat.valid}">
						<select class="form-control" [(ngModel)]="file.cat" ngControl="cat" #cat="ngForm" required>
							<option value="vehicles">Vehicles</option>
							<option value="architecture">Architecture</option>
						</select>
					</div>
				</td>
			</tr>
			<tr>
				<td>Author:</td>
				<td>
					<div [ngClass]="{'has-success':author.valid}">
						<input class="form-control" type="text" [(ngModel)]="file.author" ngControl="author" #author="ngForm" required />
					</div>
				</td>
			</tr>
			<tr>
				<td>Downloads:</td>
				<td>
					<div [ngClass]="{'has-success':dls.valid}">
						<input class="form-control" type="number" [(ngModel)]="file.dls" ngControl="dls" #dls="ngForm" required readonly />
					</div>
				</td>
			</tr>
			<tr>
				<td>URL:</td>
				<td>
					<a target="_blank" href="{{file.url}}">{{file.url}}</a>
				</td>
			</tr>
		</tbody>
	</table>
</form>