<form *ngIf="!formSubmitted" (ngSubmit)="onSubmit(userForm.form.value)" #userForm="ngForm">
	<div class="form-group">
		<div [ngClass]="{'has-success':username.valid}">
		    <input placeholder="Username" type="text" class="form-control" [(ngModel)]="user.username" ngControl="username" #username="ngForm" required>
		</div>
		<div [ngClass]="{'has-success':password.valid}">
		    <input placeholder="Password" type="password" class="form-control" [(ngModel)]="user.password" ngControl="password" #password="ngForm" required>
		</div>
		<div [ngClass]="{'has-success':email.valid}">
		    <input placeholder="Email" type="email" class="form-control" [(ngModel)]="user.email" ngControl="email" #email="ngForm" required>
		</div>
	</div>

	<button type="submit" class="btn" [ngClass]="{'btn-primary':userForm.form.valid}" [disabled]="!userForm.form.valid">Submit</button>
</form>
<h3 [hidden]="!usernameAlreadyExists">Username already exists! Try another one.</h3>
<h3 [hidden]="!formSubmitted">You successfully registered! <a [routerLink]="['Login']">Login</a></h3>
