<div class="container">

	<div class="col-md-5 col-centered">

		<form (ngSubmit)="onSubmit(userForm.form.value)" #userForm="ngForm">
			<div class="input-group" [ngClass]="{'has-success':username.valid}">
				<span class="input-group-addon"><i class="fa fa-user"></i></span>
					<input type="text" class="form-control" placeholder="Username" [(ngModel)]="user.username" ngControl="username" #username="ngForm" required>
			</div>
			<br />
			
			<div class="input-group" [ngClass]="{'has-success':pswEl.value.length>5}">
				<span class="input-group-addon" id="basic-addon1"><i class="fa fa-lock"></i></span>
					<input #pswEl type="password" class="form-control" placeholder="Password" [(ngModel)]="user.password" ngControl="password" #password="ngForm" required>
				<span class="input-group-addon" (click)="pswEl.type==='password' ? pswEl.type='text' : pswEl.type='password'" title="Show/Hide">
		        	<i *ngIf="pswEl.type==='password'" class="fa fa-eye"></i>
		        	<i *ngIf="pswEl.type==='text'" class="fa fa-eye-slash"></i>
		        </span>
			</div>
			<br />

			<div class="input-group" [ngClass]="{'has-success':email.valid}">
				<span class="input-group-addon" id="basic-addon1"><i class="fa fa-at"></i></span>
					<input type="email" class="form-control" placeholder="Email" [(ngModel)]="user.email" ngControl="email" #email="ngForm" required>
			</div>
			<br />

			<button type="submit" class="btn center-block" [ngClass]="{'btn-primary':userForm.form.valid}" [disabled]="!userForm.form.valid">Register</button>
		</form>

		<br />

	</div>

	<div [hidden]="!usernameAlreadyExists || formSubmitted" class="alert alert-danger" role="alert">
		<i class="fa fa-exclamation-circle"></i> Username already exists!
	</div>
	<div [hidden]="!passwordTooShort || formSubmitted" class="alert alert-danger" role="alert">
		<i class="fa fa-exclamation-circle"></i> The password must be 6+ characters long!
	</div>
	<div [hidden]="!formSubmitted" class="alert alert-success" role="alert">
		<i class="fa fa-check-circle"></i> You successfully registered! Redirecting... <i class="fa fa-spinner fa-spin"></i>
	</div>

</div>