<div *ngIf="editingComplete" class="alert alert-success alert-dismissible fade in" role="alert">
	<button type="button" class="close" data-dismiss="alert" aria-label="Close">
		<span aria-hidden="true">&times;</span>
	</button>
	<i class="fa fa-check-circle"></i> File edited successfully!
</div>
<div *ngIf="fileDeleted" class="alert alert-success" role="alert">
	<i class="fa fa-check-circle"></i> File deleted successfully! Redirecting... <i class="fa fa-spinner fa-spin"></i>
</div>

<table *ngIf="!isEditing" class="table table-bordered table-striped">
	<thead class="thead-default">
		<tr>
			<th colspan="2" class="text-center fileTitle">
				<button class="btn btn-primary pull-left" type="button" title="Back" [routerLink]="['Category', {catname: catname}]"><i class="fa fa-arrow-left"></i></button> {{file.name}} <button *ngIf="auth.loggedIn && auth.isAdmin" type="button" class="pull-right btn btn-primary" style="margin-left:5px" (click)="editFile()"><i class="fa fa-pencil"></i> Edit</button> <button *ngIf="auth.loggedIn && auth.isAdmin" type="button" class="pull-right btn btn-danger" (click)="deleteFile(file)"><i class="fa fa-trash"></i> Delete</button>
			</th>
		</tr>
	</thead>

	<tbody *ngIf="!file.id">
		<tr>
			<td colspan="2"><i class="fa fa-spinner fa-spin"></i> Loading...</td>
		</tr>
	</tbody>

	<tbody *ngIf="file.id">
		<tr>
			<td class="text-center" colspan="2">
				<img class="center-block fileMainScreen" [src]="mainScreen" alt="{{file.name}} screenshot" />
			</td>
		</tr>
		<tr>
			<td *ngIf="file.imgurl?.length>1" colspan="2">
				<div class="fileThumbImgs">
					<img class="fileThumbImg" [class.isSelected]="image==mainScreen" *ngFor="#image of file.imgurl" [src]="image" (click)="setMainScreen(image)" alt="{{file.name}} screenshot" />
				</div>
			</td>
		</tr>
		<tr>
			<td width="20%">
				<i class="fa fa-user"></i> Author/s:
			</td>
			<td width="80%">
				<ul class="authorList"><li *ngFor="#author of file.authors">{{author}}, </li></ul>
			</td>
		</tr>
		<tr>
			<td>
				<i class="fa fa-download"></i> Downloads:
			</td>
			<td>
				{{file.dls | number}}
			</td>
		</tr>
		<tr>
			<td>
				<i class="fa fa-thumbs-up"></i> Rating: 
			</td>
			<td>
				<button type="button" class="btn btn-success-outline" (click)="liked(file.likes)" [disabled]="!auth.loggedIn"><i class="fa fa-thumbs-up"></i> {{file.likes}}</button> <button type="button" class="btn btn-danger-outline" (click)="disliked(file.dislikes)" [disabled]="!auth.loggedIn"><i class="fa fa-thumbs-down"></i> {{file.dislikes}}</button>
			</td>
		</tr>
		<tr>
			<td colspan="2" class="text-center">
				<a class="dlurl" target="_blank" href="{{file.dlurl}}"><button type="button" class="btn btn-primary btn-lg" (click)="downloaded(file.dls)"><i class="fa fa-download"></i> Download</button></a>
			</td>
		</tr>
	</tbody>
</table>


<form *ngIf="isEditing" (ngSubmit)="isEditingDone(file)" #fileFormEdit="ngForm">
	<table class="table table-bordered table-striped">
		<thead class="thead-default">
			<tr>
				<th colspan="2">
					<button type="button" class="pull-right btn btn-warning" (click)="isEditingCancel()"><i class="fa fa-close"></i> Cancel</button>
					<button type="submit" class="pull-right btn" [ngClass]="{'btn-primary':fileFormEdit.form.valid}" [disabled]="!fileFormEdit.form.valid" style="margin-right:7px"><i class="fa fa-floppy-o"></i> Save</button>
				</th>
			</tr>
		</thead>

		<tbody>
			<tr>
				<td width="20%"><i class="fa fa-file"></i> Name:</td>
				<td>
					<div [ngClass]="{'has-success':name.valid}">
						<input class="form-control" type="text" [(ngModel)]="file.name" ngControl="name" #name="ngForm" required />
					</div>
				</td>
			</tr>
			<tr>
				<td><i class="fa fa-file"></i> Images:</td>
				<td>
					<div [ngClass]="{'has-success':imgurl.valid}">
						 <textarea rows="4" class="form-control imgurlEdit" [(ngModel)]="file.imgurl" ngControl="imgurl" #imgurl="ngForm" required></textarea>
					</div>
				</td>
			</tr>
			<tr>
				<td width="20%"><i class="fa fa-list-ul"></i> Category:</td>
				<td>
					<div [ngClass]="{'has-success':cat.valid}">
						<select class="form-control" [(ngModel)]="file.cat" ngControl="cat" #cat="ngForm" required>
							<optgroup label="Select the category">
								<option *ngFor="#cat of cats" [value]="cat.name">{{cat.name}}</option>
							</optgroup>
						</select>
					</div>
				</td>
			</tr>
			<tr>
				<td><i class="fa fa-user"></i> Author/s:</td>
				<td>
					<div [ngClass]="{'has-success':authors.valid}">
						<input class="form-control" type="text" [(ngModel)]="file.authors" ngControl="authors" #authors="ngForm" required /> <small>Insert the authors separated by comma.</small>
					</div>
				</td>
			</tr>
			<tr>
				<td><i class="fa fa-download"></i> Downloads:</td>
				<td>
					<div class="col-xs-3" [ngClass]="{'has-success':dls.valid}">
						<input class="form-control" type="number" min="0" [(ngModel)]="file.dls" ngControl="dls" #dls="ngForm" required />
					</div>
				</td>
			</tr>
			<tr>
				<td>
					<i class="fa fa-thumbs-up"></i> Rating: 
				</td>
				<td>
					<div class="input-group col-xs-3" [ngClass]="{'has-success':likes.valid}">
						<span class="input-group-addon" id="basic-addon1"><i class="fa fa-thumbs-up"></i></span>
						<input class="form-control" type="number" min="0" [(ngModel)]="file.likes" ngControl="likes" #likes="ngForm" required />
					</div>
					<div class="input-group col-xs-3" [ngClass]="{'has-success':dislikes.valid}">
						<span class="input-group-addon" id="basic-addon1"><i class="fa fa-thumbs-down"></i></span>
						<input class="form-control" type="number" min="0" [(ngModel)]="file.dislikes" ngControl="dislikes" #dislikes="ngForm" required />
					</div>
				</td>
			</tr>
			<tr>
				<td><i class="fa fa-link"></i> URL:</td>
				<td>
					<div [ngClass]="{'has-success':dlurl.valid}">
						<input class="form-control" type="url" [(ngModel)]="file.dlurl" ngControl="dlurl" #dlurl="ngForm" required />
					</div>
				</td>
			</tr>
		</tbody>
	</table>
</form>