<ul *ngIf="!searching" class="nav nav-tabs" style="margin-top:10px">
    <li class="nav-item">
        <a class="nav-link" href="javascript:false" (click)="latest()" [class.active]="clickedL">Latest files</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="javascript:false" (click)="mostDownloaded()" [class.active]="clickedMD">Most downloaded (week)</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="javascript:false" (click)="mostLiked()" [class.active]="clickedML">Most liked (week)</a>
    </li>
</ul>

<table class="table table-bordered table-small">
    <thead class="thead-default">
        <tr *ngIf="searching">
            <th>
                Search results for "{{searchParam}}"
            </th>
        </tr>
    </thead>
    <tbody>
        <span *ngFor="#file of files #i=index">
            <a class="linkInfo" [routerLink]="['File', {catname: file.cat, fileid: file.id, filename: file.name | trimLowerCase}]">
                <div class="col-md-4 thumbImg" style="background-image: url({{file.imgurl[0]}}">
                    <div class="infoBg">
                        {{file.name}}<br />
                        <i class="fa fa-user"></i> {{file.authors[0]}} &nbsp;&nbsp;
                        <i class="fa fa-download"></i> {{file.dls | number}} &nbsp;&nbsp;
                        <i class="fa fa-thumbs-up"></i> {{file.likes.length}} &nbsp;&nbsp;
                        <i class="fa fa-heart"></i> {{file.favs.length}}
                    </div>
                </div>
            </a>
        </span>
    </tbody>
</table>
