<table class="table table-bordered table-small">
	<thead class="thead-default">
		<tr>
			<th colspan="4">
				<i class="fa fa-user"></i> {{username}}'s profile
			</th>
		</tr>
	</thead>

	<tbody *ngIf="userNotExist">
		<tr>
			<td colspan="4">
				This user is not registered.
			</td>
		</tr>
	</tbody>

	<tbody *ngIf="user.id">
		<tr>
			<td width="15%">
				<i class="fa fa-user"></i> Username: 
			</td>
			<td width="35%">
				{{user.username}} <span [class.label-danger]="user.role==='admin'" class="label label-primary">{{user.role}}</span>
			</td>
			<td width="15%">
				<i class="fa fa-envelope"></i> Email: 
			</td>
			<td width="35%">
				<a href="mailto:{{user.email}}">{{user.email}}</a>
			</td>
		</tr>
		<tr>
			<td>
				<i class="fa fa-map-marker"></i> Location: 
			</td>
			<td>
				{{user.location}}
			</td>
			<td>
				<i class="fa fa-birthday-cake"></i> Birthday: 
			</td>
			<td>
				{{user.birthday | date:'shortDate'}}
			</td>
		</tr>
		<tr>
			<td>
				<i class="fa fa-link"></i> Website: 
			</td>
			<td>
				<a target="_blank" href="{{user.website}}">{{user.website}}</a>
			</td>
			<td>
				<i class="fa fa-calendar"></i> Joined: 
			</td>
			<td>
				{{user.joined | date:'short'}}
			</td>
		</tr>
	</tbody>
</table>


<table class="table table-bordered">
	<thead class="thead-default">
		<tr>
			<th>
				<i class="fa fa-file"></i> {{username}}'s files <small>({{uploads.length}})</small>
			</th>
			<th>
				<div class="btn-group" role="group">
					<button type="button" class="btn btn-secondary" disabled>Sort</button>
					<button type="button" class="btn btn-secondary" (click)="switchSort('dls')"><i class="fa fa-download"></i> Downloads <i class="fa fa-sort"></i></button>
					<button type="button" class="btn btn-secondary" (click)="switchSort('added')"><i class="fa fa-calendar"></i> Date <i class="fa fa-sort"></i></button>
					<button type="button" class="btn btn-secondary" (click)="switchSort('likes')"><i class="fa fa-thumbs-up"></i> Rating <i class="fa fa-sort"></i></button>
				</div>
				<div class="pull-right">
					<input [(ngModel)]="filterUploads" type="text" class="form-control" style="font-weight:normal" placeholder="Filter" />
				</div>
			</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td colspan="2">
				<span *ngFor="#file of uploads | filter:filterUploads:'name' | sort:sortWay:sortField #i=index">
					<a class="linkInfo" [routerLink]="['File', {catname: file.cat, fileid: file.id, filename: file.name | trimLowerCase}]">
						<div class="col-md-4 thumbImg" style="background-image: url({{file.imgurl[0]}}">
							<div class="infoBg">
								{{file.name}}<br />
								<i class="fa fa-user"></i> {{file.authors[0]}} &nbsp;&nbsp;
								<i class="fa fa-download"></i> {{file.dls | number}} &nbsp;&nbsp;
								<i class="fa fa-thumbs-up"></i> {{file.likes.length}} &nbsp;&nbsp;
								<i class="fa fa-heart"></i> {{file.favs.length}}
							</div>
						</div>
					</a>
				</span>
			</td>
		</tr>
	</tbody>
</table>